<div class="panel panel-primary">
  <div class="panel-heading">
    {{title}}
  </div>
  <div class="panel-body">
    <div class="row">
      <img src="./assets/images/logo.jpg"
           class="img-responsive center-block"
           style="max-height:150px;padding-bottom:25px"/>
    </div>
    <div class="row">
      <qt-quotes></qt-quotes>
    </div>
      <div class="row">
          <qt-chain></qt-chain>
      </div>
    <div class="row">
      <qt-aggregate></qt-aggregate>
    </div>
    <div class="row">
      <qt-asynch></qt-asynch>
    </div>
    <div class="row">
      <div class="text-center">@agoncal</div>
      <div class="text-center">
        <a href="http://www.antoniogoncalves.org">www.antoniogoncalves.org</a>
      </div>
      <div class="text-center">
        <a href="https://github.com/agoncal/agoncal-sample-microservices/tree/master/02-Consul">Code on GitHub</a>
      </div>
    </div>
  </div>
</div>
