<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <qt-quotes></qt-quotes>
    </div>
    <div class="row">
      <qt-chain></qt-chain>
    </div>
    <div class="row">
      <qt-aggregate></qt-aggregate>
    </div>
    <div class="row">
      <qt-asynch></qt-asynch>
    </div>
  </div>
</div>

<div class="footer">
  <div class="text-center">
    <a href="https://twitter.com/agoncal">@agoncal</a>
  </div>
  <div class="text-center">
    <a href="https://www.antoniogoncalves.org">www.antoniogoncalves.org</a>
  </div>
  <div class="text-center">
    <a href="https://github.com/agoncal/agoncal-sample-microservices/tree/master/02-Consul">Code on GitHub</a>
  </div>
</div>
